.textfield {
  margin: 15px 0;
}

.textfield.error .input {
  border-color: #B00020;
  background-color: rgba(176, 0, 32, 0.03); 
}
.textfield.error .msg {
  height: auto;
  color: #B00020;
  visibility: visible; 
}

.textfield .name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
  display: block;
}

.textfield .input,
.textfield .textarea {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  height: 33px;
  border-radius: 6px;
  background-color: #f6f8fa;
  border: 1px solid rgb(208, 215, 222);
  color: #37352F;
  padding: 5px 12px;
  outline: 0;
  display: block;
}

.textfield .input:focus,
.textfield .textarea:focus {
  background-color: #ffffff;
  border-color: transparent;
  box-shadow: inset 0 0 0 2px rgb(9, 105, 218);
}

.textfield .input:disabled,
.textfield .textarea:disabled {
  border-color: #C8C7C6;
  color: #C8C7C6; 
}

.textfield .textarea {
  min-height: 172px;
  max-height: 230px;
  padding: 10px 16px; 
}

.textfield .msg {
  font-size: 12px;
  font-weight: 400;
  height: 0;
  margin-top: 5px;
  visibility: hidden;
  display: block; 
}

.textfield .info {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
  color: #91908D;
  display: block;
}