.wrapper {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: row;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 244px;
}
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.uploadArea {
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #8a8a8a;
    border-radius: 6px;
}
.heading {
    font-weight: 500;
}
.files {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 25px;
    grid-template-columns: repeat(auto-fill,minmax(8.125rem,1fr));
    padding: 0 20px 20px 20px;
}
.file {
    padding: 20px 12px 20px 12px;
    margin: 0 auto;
    cursor: pointer;
}
.fileBorder {
    padding: 4px;
    margin: 0 8px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 0 0.9px #1718180d;
}
.fileBG {
    background-color: #f1f1f1;
    width: 115px;
    height: 115px;
    border-radius: 6px;
    overflow: hidden;
}
.file img {
    width: 115px;
    height: 115px;
    object-fit: contain;
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
}
.active {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.wrapperList {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.07);
    border: 1px solid #d4d4d4;
    padding: 0px;
    border-radius: 6px;
    padding: 12px;
    box-shadow: 0px 0px 10px 0.5px rgba(0,0,0,0.15);
}

.containerList {
    padding: 0 16px;
}

.input {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    background-color: #f6f8fa;
    border: 1px solid rgb(208, 215, 222);
    color: #37352F;
    padding: 5px 12px;
    outline: 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.input.errorInput {
    border: 1px solid #B00020;
    background-color: rgba(176, 0, 32, 0.03); 
}
.name {
    font-size: 13px;
    margin-bottom: 7px;
    display: block;
    color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.field {
    margin: 15px 0;
}
.info {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;
    color: #91908D;
    display: block;
}
.error {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    display: block; 
    color: #B00020;
}
.selectedFiles {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ebebeb;
}
.selectedFile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.containerList .selectedFile {
    padding: 4px;
}
.infoFile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}
.img {
    width: 34px;
    height: 34px;
    border: 1px solid #d7d7d7;
    background-color: #efefef;
    border-radius: 6px;
    overflow: hidden;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
.filename {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clear {
    color: var(--color-link);
    cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    gap: 10px;
}
