.wrapper {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.07);
    border: 1px solid #d4d4d4;
    padding: 0px;
    border-radius: 6px;
    padding: 12px;
    box-shadow: 0px 0px 10px 0.5px rgba(0,0,0,0.15);
}

.container {
    padding: 0 16px;
}

.input {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    background-color: #f6f8fa;
    border: 1px solid rgb(208, 215, 222);
    color: #37352F;
    padding: 5px 12px;
    outline: 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.input.errorInput {
    border: 1px solid #B00020;
    background-color: rgba(176, 0, 32, 0.03); 
}
.name {
    font-size: 13px;
    margin-bottom: 7px;
    display: block;
    color: rgb(48, 48, 48);
}
.field {
    margin: 15px 0;
}
.info {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;
    color: #91908D;
    display: block;
}
.error {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    display: block; 
    color: #B00020;
}

.fieldList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.infoField {
    flex: 1;
}