.currencies li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 8px 0;
    justify-content: space-between;
}
.actionCurrency {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.languages li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 8px 0;
    justify-content: space-between;
}
.actionLanguage {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.links ul {
    display: flex;
    gap: 15px;
    padding-bottom: 3px;
    margin-bottom: 20px;
}
.links li {
    cursor: pointer;
}
.links li.active {
    border-bottom: 2px solid #000000;
    padding-bottom: 3px;
    font-weight: 500;
}