.bricks {

}

.brick {
    padding: 8px 16px;
    border-top: 1px solid #ebebeb;
    height: 60px;
    cursor: pointer;
}
.brick:first-child {
    border-top: none;
}
.brick:hover {
    background-color: #fafafa;
}

.name {
    font-weight: 500;
}
.key {
    color: #616161;
}

.infoBrick {
    border-bottom: 1px solid #ebebeb;
}
.validation {
    padding-top: 20px;
}
.validationText {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;
    color: #91908D;
    display: block;
    margin-bottom: 15px;
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.actionsRight {
    display: flex;
    flex-direction: row;
    gap: 10px;
}