.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    user-select: none;
    height: 100%;
    min-height: 100%;
}
.projectName {
    padding-left: 3px;
    font-size: 14px;
    font-weight: 500;
}
.account {
    margin-right: 16px;
    cursor: pointer;
}
.accountMenu {
    position: absolute;
    right: 16px;
    top: 62px;
    background-color: #fff;
    width: 315px;
    z-index: 1;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0.5px rgba(0,0,0,0.15);
}
.accountMenu ul {
    display: flex;
    flex-direction: column;
}
.accountMenu ul li {
    height: 33px;
    display: flex;
    align-items: center;
}
.accountMenu ul li a {
    padding: 6px;
    width: 100%;
}
.accountMenu ul li a:hover {
    background-color: #f1f1f1;
}