.table {
    text-align: left;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    overflow: hidden;
}
.table table {
    width: 100%;
    border-collapse: collapse;
}
.table th {
    background-color: #f7f7f7;
    color: #616161;
    padding: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.table thead tr {
    border-top: none;
}
.table tr {
    height: 33px;
    border-top: 1px solid #d7d7d7;
}
.table tr:nth-child(even) {
    background-color: #f6f6f7;
}
.doc td {
    padding: 13px;
}
.docName {
    font-weight: 500;
    border-right: 1px solid #d7d7d7;
    word-wrap: break-word;
    width: 240px;
}
.docName span {
    display: block;
}
.docNameInfo {
    color: #616161;
    padding-top: 5px;
}