.links {
    padding-top: 16px;
}

.links li {
    width: 100%;
}
.container  {
    padding: 0 12px;
}
.links li a {
    width: 100%;
    position: relative;
    min-height: 20px;
    padding: 6px 8px;
    display: block;
    user-select: none;
    text-align: left;
    font-weight: 500;
}
.links li a:hover {
    background-color: #f1f1f1;
    border-radius: 6px;
}