.links {
    padding-top: 16px;
}

.links li {
    width: 100%;
}
.container  {
    padding: 0 12px;
}
.links li a {
    width: 100%;
    position: relative;
    min-height: 20px;
    padding: 6px 8px;
    user-select: none;
    text-align: left;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.links li a:hover {
    background-color: #f1f1f1;
    border-radius: 6px;
}
.links li a.active {
    background-color: #fafafa;
    border-radius: 6px;
    font-weight: 600;
}
.links li a img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}