.controls {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.controls {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
}
.tool {
    cursor: pointer;
}
.tool a, .tool div {
    display: flex;
    align-items: center;
    gap: 2px;
}