:root {
  --header-bg: #f6f8fa;
  --body-font-size: 14px;
  --heading-font-size: 16px;
  --color-link: blue;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--body-font-size);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: var(--heading-font-size);
  font-weight: 500;
}

header {
  display: flex;
  height: 48px;
  background-color: var(--header-bg);
  box-shadow: rgb(216, 222, 228) 0px -1px 0px 0px inset;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 24px 20px;
}
main {
  flex: 1;
  margin-left: 20px;
}
.sidebar {
  width: 240px;
}